body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.site-navigation-current {
  color: #766357;
}

.container {
  text-align: center;
  width: 1200px;
}

.grand-view {
  width: 1200px;
  min-height: 726px;
  background-color: #e3f0f8;
  background-image: url("../img/polygon.svg"), url("../img/background.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: bottom, bottom;
}

.paragraf {
  background-color: #ffffff;
}

.headline {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-list {
  list-style: none;
  background-color: #eeeeee;
}

.feature-item-pic {
  color: #ffffff;
  background-color: #81b3d2
}

.more-features {
  list-style: none;
  color: #000000;
  background-color: #ffffff;
}

.feature-item-info h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.btn-inner {
  font-size: 14px;
  line-height: 21px;
}

.btn-blue {
  background-color: #81b3d2
}

.btn-brown {
  background-color: #766357;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3)
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.search-item label, 
.search-item input {
  font-weight: 700;
  text-transform: uppercase;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.button-form {
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.button-form:hover, 
.button-form:focus {
  color: #000000;
}

.button-form:active {
  color: #81b3d2;
}

/* .modal-search {
  display: none;
} */

.footer-social ul {
  list-style: none;
}

.filter {
  color: #ffffff;
  background-color: #355469;
  background-image: url("../img/filter-background.jpg")
}

.filter fieldset {
  border: none;
}

.filter legend, 
.range label {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  line-height: 21px;
}

.filter-input:hover+label, 
.filter-input:focus+label {
  color: #ffffff;
}

.filter-input:disabled+label {
  color: #6a6a6a;
}

.range input {
  /* font: inherit; */
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button {
  font-weight: 400;
  color: #ffffff;
  
  background-color: transparent;
  border: 2px solid #ffffff;
}

.btn-range, 
.btn-dir {
  background-color: transparent;
}

/* .btn-range:hover {}
  /* увеличение кнопки на 2px */
 

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.assortment {
  font-size: 12px;
  line-height: 18px;
}

.assortment-list {
  list-style: none;
}

.assortment-item-current {
  color: #81b3d2;
}

.assortment-list a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
}

.assortment-list a:hover, 
.assortment-list a:focus {
  color: #81b3d2;
}

.assortment-list a:active {
  color: #000000;
  text-decoration: none;
}

.catalog-item-hotel h3 {
  font-size: 21px;
}

.catalog-item .hotel:hover, 
.catalog-item a.hotel:focus {
  color: #81b3d2;
}

.catalog-item .hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  list-style: none;
}

.catalog-item-rating p {
  color: #666666;
  background-color: #f2f2f2;
}
